

.map .logo-med {
    display: none;
}

#navbar #faqNav {
  background-color: transparent;
  font-size: 8pt;
  position: relative;
  top: 1px;
}

.arrow-left-one {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-left: 40px solid #fff; 
  position: fixed;
  margin-top: 450px;
  margin-right: 670px;
  right: inherit;
  outline-color: black;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: initial;
}

@media (max-width: 991px) {
  .arrow-left-one {
    visibility: hidden;
    display: none;
    clear: both;
  }
}

.arrow-left-two {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 40px solid #fff; 
  position: fixed;
  padding-left: 200px;
  margin-top: 165px;
  padding-left: 230px;
  outline-color: black;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: initial;
}
@media (max-width: 991px) {
  .arrow-left-two {
    visibility: hidden;
    display: none;
    clear: both;
  }
}

.arrow-left-three {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 40px solid #fff; 
  position: fixed;
  padding-left: 200px;
  margin-top: 192px;
  padding-left: 230px;
  outline-color: black;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: initial;
}
@media (max-width: 991px) {
  .arrow-left-three {
    visibility: hidden;
    display: none;
    clear: both;
  }
}

#reclassification{
  font-size: 11pxem;
  text-align: center;
  background-color: #e0ebff;
  padding: 10px;
  border-radius: 6px;
}

#popupList{
  margin-right: 25px;
}

#siteInfoPanelHeader {
  text-align: center;
}

#firstuserModal{
  width: 600px;
  margin: 10px;
  position: relative;
  margin-left: 155px;
  padding-top: 345px;
}
@media (max-width: 991px) {
  #firstuserModal {
    visibility: hidden;
    display: none;
    clear: both;
  }
}

#seconduserModal{
  width: 600px;
  margin: 10px;
  position: relative;
  margin-left: 270px;
  padding-top: 66px;
}
@media (max-width: 991px) {
  #seconduserModal {
    visibility: hidden;
    display: none;
    clear: both;
  }
}

#thirduserModal{
  width: 600px;
  margin: 10px;
  position: relative;
  margin-left: 270px;
  padding-top: 92px;
}
@media (max-width: 991px) {
  #thirduserModal {
    visibility: hidden;
    display: none;
    clear: both;
  }
}

@media (max-width: 991px) {
  #welcomeModal {
    visibility: hidden;
    display: none;
    clear: both;
  }
}
@media (max-width: 991px) {
  #firstModal {
    visibility: hidden;
    display: none;
    clear: both;
  }
}
@media (max-width: 991px) {
  #secondModal {
    visibility: hidden;
    display: none;
    clear: both;
  }
}
@media (max-width: 991px) {
  #thirdModal {
    visibility: hidden;
    display: none;
    clear: both;
  }
}

@media (min-width: 768px) {
  #mobileModal {
    display: none !important;
  }
}

/*.modal-backdrop.in{
  display: none;
}*/

/*.modal-backdrop {
  position: relative;
}*/

.layerHelp{
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*@media (min-width: 768px) {
      .modal-backdrop:last-child{display:none !important;}
}
@media (max-width: 768px) {
      .modal-backdrop:last-child{display:none !important;}
}*/

.esriLegendOther {
  display: none;
}

/* Styling the Swiper */

.LayerSwipe .vertical {
  position: absolute;
  opacity: 0.80;
  border-left: 1px solid #848484;
  border-right: 1px solid #848484;
  background-color: #4c4c4c;
  width: 11px;
  height: 100%;
  padding: 0!important;
  margin: 0;
  z-index: 30;
  cursor: col-resize;
  }

.LayerSwipe .vertical .handle {
  width: 51px;
  height: 24px;
  margin-top: -12px;
  margin-left: -20px;
  top: 50%;
  left: 0;
  position: absolute;
  z-index: 30;
  background-color: #4c4c4c;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  background-image: url("../images/arrows.png");
  line-height: 1;
  font-size: 12px;
  text-indent: 0;
  border-radius: 0;
}

/* Custom Legend Squares */

.squareDiv {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.sysUnit {
  background: #bee8ff;
  border-color: #000000;
  border-width: 1.5px;
}

.opa {
  background: #ffebaf;
  border-color: #000000;
  border-width: 1.5px;
}

.sysUnitRevised {
  background: #8400a8;
  border-color: #000000;
  border-width: 2px;
  border-style: dashed;
  opacity: 0.5;
}

.opaRevised {
  background: #e64c00;
  border-color: #000000;
  border-width: 2px;
  border-style: dashed;
  opacity: 0.5;
}

.otherExistingProjects {
  background: #999999;
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px;
  opacity: 0.8;
}

.legendSpacing {
  margin-bottom: 15px;
}

#showHelp {
  background-color: rgb(69, 116, 204);
  border-color: rgb(69, 116, 204);
  border-radius: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300px;
  font-size: 9pt;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    padding-left:8px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    padding-left:8px;
}

/* Custom style CBRS Search */

#cbrsNav{
    background-color: #3C6DD1;
    border: 1px solid #3C6DD1;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    box-sizing: border-box;
    padding: 6px 15px 6px 15px;
    transition: 0.2s;
    }

#cbrsNav:hover{
    background-color: #2b5ab9;
    transition: 0.2s;
    border-color: #2b5ab9;
    cursor: pointer;
}

/* CBRS Search */



#searchContainer {
    width: 300px;
    height: 34px;
}

#search {
         display: block;
         position: absolute;
         z-index: 2;
         top: 20px;
      }

.panel-group{
  margin-top: -25px;
}

#popupList{
  margin-right: 10px;
  margin-left: -30px;
}

/* rotating arrows css */

#angle1 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle2 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle3 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle4 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle5 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle6 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle7 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle8 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle9 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle10 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}
#angle11 {
  transition-duration: 0.5s;
  transition-property: -webkit-transform;
  transition-property: transform;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
  padding: 0 0 0 10px;
  font-weight: 100;
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}