

.map .logo-med {
    display: none;
}

#navbar #faqNav {
  background-color: transparent;
  font-size: 8pt;
  position: relative;
  top: 1px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}